p{
    color: rgb(0, 38, 255);
    background-color: rgb(29, 26, 26);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: wavy overline;

}
h1{
    color: rgb(22, 248, 229);
    text-align: center;
}